<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Lato:wght@100&display=swap" rel="stylesheet">






<body>
    <section class="display-flex">
        <div class="first_part">
          <div class="container">
            <div class="background">
              <div class="navbar d-flex justify-content-between">
                <%= link_to "Golden Places", root_path %>
                <div>
                  <%= link_to "Search", root_path %>
                  <%= link_to "Bookings", bookings_path %>
                </div>
              </div>
              <div class="content">
                <h2>Which place is your next discovery?</h2>
                <div id="search-villa-form">
                  <%= simple_form_for(@villa) do |f| %>
                  <%= f.input :location, error: 'Please specify a location' %>
                  <%= f.input :number_of_beds, error: 'Please specify a location', label: 'Number of guests' %>
                  <%= f.button :submit, class: "button" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="second_part">
          <img class="img_home" src="https://s3-us-west-2.amazonaws.com/maven-user-photos/bigblendedfamily/parenting/7nKsL4HrtkaXmFAI6iZ3ww/tyuYlAHv90KmzPc-MJU3DQ" alt="">        </div>
    </section>
</body>
