<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Lato:wght@100&display=swap" rel="stylesheet">

<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag @villa.photos.first.key %>
    </div>
    <% @villa.photos.drop(1).each do |photo| %>
    <div class="carousel-item">
      <%= cl_image_tag photo.key %>
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="text-center" id="villa-detail">
  <h1><strong><%= @villa.title %></strong></h1>
  <i id="star" class="far fa-star"></i> <i id="star" class="far fa-star"></i> <i id="star" class="far fa-star"></i> <i id="star" class="far fa-star"></i> <i id="star" class="far fa-star"></i>
  <p> Ceci est une description </p>
  <p>Description: <%= @villa.description %></p>
  <p>Location: <%= @villa.location %></p>
  <p>Bedrooms: <%= @villa.number_of_bedrooms %></p>
  <p>Bathrooms: <%= @villa.number_of_bathrooms %></p>
  <p>Max. number of guests: <%= @villa.number_of_beds %></p>
  <p>Price per night: <%= @villa.price_per_night %>€</p>
</div>
  <%= link_to "Book this place", new_villa_booking_path(@villa), class: "button", id:"button-book-villa" %>
<div id="service" class="text-center">
  <h2>Services:</h2> <p><%= @villa.services %></p>
  <i class="material-icons">flight</i>
  <i class="material-icons">sports_tennis</i>
  <i class="material-icons">star</i>
  <i class="material-icons">restaurant_menu</i>
  <i class="material-icons" style="margin-right: 0">spa</i>
</div>
<div class="container">
  <h2>Reviews</h2>
  <div class="flexbox">
    <div class="review">
      <div class="comments mb-4 d-flex align-items-center">
        <img src="https://res.cloudinary.com/jackycloud44/image/upload/v1606404463/jack-finnigan-rriAI0nhcbc-unsplash_fq8bns.jpg" alt="" class="avatar">
       <p class="mb-0 ml-2">dgklsg,lskg,dsf</p>
      </div>
      <div class="comments mb-4 d-flex align-items-center">
        <img src="https://res.cloudinary.com/jackycloud44/image/upload/v1606404463/jack-finnigan-rriAI0nhcbc-unsplash_fq8bns.jpg" alt="" class="avatar">
      <p class="mb-0 ml-2">dgklsg,lskg,dsf</p>
      </div>
      <div class="comments mb-4 d-flex align-items-center">
        <img src="https://res.cloudinary.com/jackycloud44/image/upload/v1606404463/jack-finnigan-rriAI0nhcbc-unsplash_fq8bns.jpg" alt="" class="avatar">
      <p class="mb-0 ml-2">dgklsg,lskg,dsf</p>
      </div>
      <div class="comments mb-4 d-flex align-items-center">
        <img src="https://res.cloudinary.com/jackycloud44/image/upload/v1606404463/jack-finnigan-rriAI0nhcbc-unsplash_fq8bns.jpg" alt="" class="avatar">
      <p class="mb-0 ml-2">dgklsg,lskg,dsf</p>
      </div>
    </div>
    <div id="card_description">
      <img src="https://res.cloudinary.com/jackycloud44/image/upload/v1606404463/jack-finnigan-rriAI0nhcbc-unsplash_fq8bns.jpg" alt="" class="avatar">
      <p>XXXXXX </p>
      <p>“Owner little description Owner little description Owner little description Owner little description Owner little description Owner little description Owner little description Owner little description Owner little d ”</p>
    </div>
  </div>
</div>
