<h2><strong><%= @villa.title %></strong></h2>


<h3>Description: <%= @villa.description %></h3>
<h3>Location: <%= @villa.location %></h3>

<h3>Bedrooms: <%= @villa.number_of_bedrooms %></h3>
<h3>Bathrooms: <%= @villa.number_of_bathrooms %></h3>
<h3>Max. number of guests: <%= @villa.number_of_beds %></h3>

<h3>Price per night: <%= @villa.price_per_night %>€</h3>

<h3>Services: <%= @villa.services %></h3>


